@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html,body{
	background: #242424;
}
.relative{
	position: relative;
}
.hero-container{
	position: absolute;
	top: 0;
	left: 0;
}
.webgl1, .webgl, .webgl2{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}
.z-5{
	z-index: 5;
}
.txt-left h2{
	color: #0984e3;
	text-shadow: 3px 3px 50px #0984e3,
	3px 3px 100px #0984e3,
	3px 3px 150px #0984e3,
	3px 3px 200px #0984e3,
	3px 3px 250px #0984e3,
	3px 3px 300px #0984e3,
	3px 3px 350px #0984e3,
	3px 3px 400px #0984e3;
}
.txt-right h2{
	color: #e84118;
	text-shadow: 3px 3px 50px #e84118,
	3px 3px 100px #e84118,
	3px 3px 150px #e84118,
	3px 3px 200px #e84118,
	3px 3px 250px #e84118,
	3px 3px 300px #e84118,
	3px 3px 350px #e84118,
	3px 3px 400px #e84118;
}